{%- assign section_id = unique | default: section.id -%}

<div
  class="product__block block-padding"
  {{ block_style }}
  {% if animation_name %}
    data-animation="{{ animation_name }}"
    data-animation-duration="{{ animation_duration }}"
    data-animation-delay="{{ animation_delay }}"
  {% endif %}
>
  <div class="product__price__wrap">
    <div id="Price-{{ section_id }}" role="status" {{ block.shopify_attributes }}>
      {%- render 'price',
        product: product,
        onboarding_product: onboarding_product,
        use_variant: true,
        show_badges: true,
        price_font_size: block.settings.text_font_size,
        price_class: 'price--large'
      -%}
    </div>

    {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
      <div class="product__tax caption rte">
        {%- if cart.duties_included and cart.taxes_included -%}
          {{ 'products.product.duties_and_taxes_included' | t }}
        {%- elsif cart.taxes_included -%}
          {{ 'products.product.taxes_included' | t }}
        {%- elsif cart.duties_included -%}
          {{ 'products.product.duties_included' | t }}
        {%- endif -%}
        {%- if shop.shipping_policy.body != blank -%}
          {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- endif -%}
      </div>
    {%- endif -%}

    {% if product != blank %}
      <div class="shop-pay-terms" {{ block.shopify_attributes }}>
        {%- assign product_form_installment_id = 'product-form-installment-' | append: section_id -%}
        {%- form 'product',
          product,
          id: product_form_installment_id,
          class: 'installment',
          data-product-form-installment: ''
        -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          {{ form | payment_terms }}
        {%- endform -%}
      </div>
    {% endif %}
  </div>
</div>
