<!-- /snippets/products-recently-viewed.liquid -->
{% comment %}
  Renders list of recently viewed products in grid layout

  Accepts:
  - product: {Object} product (required)
  - limit: {Integer} A maxmimum products to show
  - product_recently_minimum: {Integer} A minimum products to show

  Usage:
  {% render 'products-recently-viewed', product: product, product_recently_minimum: product_recently_minimum %}
{% endcomment %}

{%- liquid
  assign limit = limit | default: 4
  assign column_count = column_count | default: limit
  assign layout_mobile = layout_mobile
  assign layout_desktop = layout_desktop
  assign columns_desktop = columns_desktop
  assign columns_medium = columns_medium
  assign columns_small = columns_small
  assign columns_mobile = columns_mobile

  if layout_desktop == 'slider' and limit > 4
    assign column_count = '4'
  endif

  capture product_grid_classes
    echo 'grid'

    if layout_desktop == 'slider'
      echo ' grid--slider'
    endif

    if layout_mobile == 'slider' or layout_mobile == nil
      echo ' grid--mobile-slider'
    else
      echo ' grid--mobile-vertical'
    endif
  endcapture
-%}

<script src="{{ 'recently-viewed.js' | asset_url }}" defer="defer"></script>

<recently-viewed
  class="recent__wrapper fade-toggle hidden"
  id="RecentlyViewed-{{ section.id }}"
  data-wrapper-id="recently-viewed-products-{{ section.id }}"
  data-limit="{{ limit }}"
  data-target="api-product-grid-item"
  data-minimum="{{ product_recently_minimum }}"
  {% if block %}
    {{ block.shopify_attributes -}}
  {% endif %}
>
  <div
    class="grid-outer"
    style="--column-count: {{ column_count }}; --COLUMNS: {{ columns_desktop }}; --COLUMNS-MEDIUM: {{ columns_medium }}; --COLUMNS-SMALL: {{ columns_small }}; --COLUMNS-MOBILE: {{ columns_mobile }};"
  >
    <grid-slider align-arrows>
      <div
        class="recent__content {{ product_grid_classes }}{% if limit <= 4 %} grid--slider-disabled{% endif %} hidden"
        data-grid-slider
        id="recently-viewed-products-{{ section.id }}"
      ></div>
    </grid-slider>
  </div>
</recently-viewed>
