{%- liquid
  assign block_settings = block_settings | default: section.settings
  assign block_element = block_element | default: false
  assign desktop_height = desktop_height | default: block_settings.desktop_height
  if request.visual_preview_mode
    assign desktop_height = ''
  endif
  assign mobile_height = mobile_height | default: block_settings.mobile_height
  assign video = block_settings.video
  assign aspect_ratio = aspect_ratio | default: video.aspect_ratio
  assign video_aspect_ratio = video_aspect_ratio | default: video.aspect_ratio | default: 1
  assign video_popup = block_settings.video_popup | default: block_settings.video_popup_social
  assign image_desktop = block_settings.image | default: video.preview_image
  assign image_mobile = block_settings.mobile_image
  assign text_color = block_settings.color
  assign overlay_type = block_settings.overlay_type
  assign opacity_overlay = false
  assign text_underlay = false
  if overlay_type == 'opacity'
    assign opacity_overlay = true
  elsif overlay_type == 'text'
    assign text_underlay = true
  endif
  assign animation_anchor = '#Video--' | append: section.id

  assign title = block_settings.title
  assign text = block_settings.text
  assign link_text = block_settings.link_text

  assign button_style = block_settings.button_style
  if button_style == 'btn--text' and block_settings.show_arrow
    assign button_style = button_style | append: ' btn--text-no-underline'
  endif

  assign show_video_popup = false
  if block_settings.show_video_popup and video_popup != blank
    assign show_video_popup = true
  endif

  assign show_text_background = block_settings.show_text_background
  assign selected_color_scheme = block_settings.color_scheme | strip
  assign scheme_bg_color = settings.color_schemes[selected_color_scheme].settings.section_bg

  assign hero_transparent = true
  if show_text_background and scheme_bg_color.alpha != 0 or scheme_bg_color.alpha != 0.0
    assign hero_transparent = false
  endif

  assign show_header_backdrop = false
  if hero_transparent and text_underlay
    assign show_header_backdrop = true
  endif

  assign animation_order = 0

  capture video_poster
    render 'image-hero', image_desktop: image_desktop, image_mobile: image_mobile, desktop_height: desktop_height, mobile_height: mobile_height, aspect_ratio: aspect_ratio, aspect_ratio_mobile: aspect_ratio
  endcapture
-%}

{%- capture style -%}
  {%- unless text_color.alpha == 0.0 or text_color == blank -%}
    --text: {{ text_color }};
  {%- endunless -%}

  {% if show_header_backdrop %}
    --header-overlay-color: var(--overlay-bg);
  {% endif %}
{%- endcapture -%}

{%- if block_settings.link != blank and link_text == blank -%}
  <a class="hero__video frame__item" href="{{ block_settings.link }}">
{%- else -%}
  <div class="hero__video frame__item">
{%- endif -%}

{%- if video != null -%}
  <div
    class="video-background {{ desktop_height }} {{ mobile_height }}"
    style="--aspect-ratio: {{ video_aspect_ratio }};"
  >
    <div class="video__poster">
      {{ video_poster }}
    </div>
    <video-background
      class="video__player is-loading"
      data-video-player
      data-video-id="{{ section.id }}-video-background"
    >
      <template data-video-template>
        {{ video | video_tag: autoplay: true, image_size: '1085x', loop: true, muted: true, controls: false }}
      </template>
    </video-background>
  </div>
{%- else -%}
  {{ video_poster }}
{%- endif -%}

{%- if opacity_overlay -%}
  <div class="image-overlay"></div>
{%- endif -%}

{%- if block_settings.link != blank and link_text == blank -%}
  </a>
{%- else -%}
  </div>
{%- endif -%}

{%- if title != blank or text != blank or link_text != blank or show_video_popup -%}
  <div
    class="hero__content__wrapper frame__item {{ block_settings.flex_align }}{% if show_header_backdrop %} backdrop--linear{% endif %}"
    id="Video--{{ section.id }}"
    style="{{ style }}"
  >
    <div
      class="hero__content{% if hero_transparent %} hero__content--transparent{% endif %}{% if text_underlay %} backdrop--radial{% endif %}"
    >
      {%- if title != blank -%}
        {%- liquid
          assign animation_order = animation_order | plus: 1
          assign heading_tag = 'h2'

          unless block_settings.heading_tag == 'automatic' or block_settings.heading_tag == blank
            assign heading_tag = block_settings.heading_tag
          endunless
        -%}
        <{{ heading_tag }}
          class="hero__title {{ block_settings.heading_font_size | default: 'heading-medium' }}"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="{{ animation_order }}"
        >
          {{ title | escape }}
        </{{ heading_tag }}>
      {%- endif -%}

      {%- if text != blank -%}
        {%- assign animation_order = animation_order | plus: 1 -%}
        <div
          class="hero__description {{ block_settings.text_font_size }}"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="{{ animation_order }}"
        >
          {{ text }}
        </div>
      {%- endif -%}

      {%- if link_text != blank or show_video_popup -%}
        <div class="hero__button-group">
          {%- if link_text != blank -%}
            {%- assign animation_order = animation_order | plus: 1 -%}
            <div
              class="hero__button"
              data-aos="hero"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-order="{{ animation_order }}"
            >
              <a
                class="btn {{ button_style }} {{ block_settings.button_type }} {{ block_settings.button_size }}"
                href="{{ block_settings.link }}"
              >
                <span>{{ link_text | escape }}</span>

                {%- if block_settings.show_arrow -%}
                  {%- render 'icon-nav-arrow-right' -%}
                {%- endif -%}
              </a>
            </div>
          {%- endif -%}

          {%- if show_video_popup -%}
            {%- liquid
              assign video_parent_id = 'item-video-' | append: section.id
              assign animation_order = animation_order | plus: 1
            -%}

            <video-popup
              class="hero__button"
              data-aos="hero"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-order="{{ animation_order }}"
            >
              <a
                href="{{ video_popup }}"
                class="btn {{ block_settings.button_size }} {{ block_settings.button_style }} {{ block_settings.button_type }} image__video__play"
                data-video-play="{%- render 'photoswipe-video-html' item_link: video_popup, item_id: video_parent_id, item_enable_sound: 'false' -%}"
              >
                {% render 'icon-play' %}
              </a>
            </video-popup>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
