{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'product-buttons', block: block, product: product, product_form_id: product_form_id, show_pickup_availability: true %}
{% endcomment %}

{%- liquid
  assign onboarding_product = onboarding_product | default: false
  assign show_dynamic_checkout = false
  assign current_variant = product.selected_or_first_available_variant
  assign gift_card_recipient_feature_active = false
  assign show_quantity = show_quantity | default: block.settings.show_quantity | default: false
  assign is_quickview = quickview | default: false
  assign show_newsletter = settings.show_newsletter
  assign color_scheme = 'color-' | append: section.settings.color_scheme
  assign section_id = unique | default: section.id

  assign form_qty = current_variant.quantity_rule.min
  assign cart_qty = cart | item_count_for_variant: current_variant.id
  assign qty_sum = form_qty | plus: cart_qty

  assign max_inventory = ''
  assign max_inventory_reached = false
  assign error_message_position = 'cart'

  if current_variant.inventory_management and current_variant.inventory_policy == 'deny'
    assign max_inventory = current_variant.inventory_quantity
  endif

  if max_inventory != ''
    if qty_sum > max_inventory
      assign max_inventory_reached = true
    endif

    if cart_qty == max_inventory
      assign error_message_position = 'form'
    endif
  endif

  if quickview
    assign show_newsletter = false
  endif

  assign button_size = block.settings.button_size | default: 'btn--medium'
  assign button_style = block.settings.button_style | default: 'btn--solid'
  assign button_type = block.settings.button_type | default: 'btn--primary'

  assign preorder = false

  if product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true
    assign preorder = true
  endif

  if current_variant.metafields.theme.preorder.type == 'boolean' and current_variant.metafields.theme.preorder.value == true
    assign preorder = true
  endif

  assign product_tags = product.tags | join: ','
  if product_tags contains '_preorder'
    assign preorder = true
  endif

  if current_variant == null
    assign button_text = 'products.product.unavailable' | t
  elsif current_variant.available == false or quantity_rule_soldout
    assign button_text = 'products.product.sold_out' | t
  else
    assign button_text = 'products.product.add_to_cart' | t
  endif

  if preorder
    assign button_text = 'products.product.pre_order' | t
  endif

  if block.settings.show_gift_card_recipient and product.gift_card? and is_quickview != true
    assign gift_card_recipient_feature_active = true
  endif

  if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false and settings.enable_accept_terms == false and current_variant.available
    assign show_dynamic_checkout = true
  endif

  comment
    Override buy button setting if there are selling plan groups
  endcomment
  if product.selling_plan_groups.size > 0
    assign show_dynamic_checkout = false
  endif

  if show_newsletter
    assign newsletter_text = 'general.newsletter_form.newsletter_product_availability' | t
    assign newsletter_button_text = 'products.product.sold_out' | t | append: ' - ' | append: newsletter_text
  endif

  assign check_against_inventory = true
  if current_variant.inventory_management != 'shopify' or current_variant.inventory_policy == 'continue'
    assign check_against_inventory = false
  endif
  if current_variant.quantity_rule.min > current_variant.inventory_quantity and check_against_inventory
    assign quantity_rule_soldout = true
  endif
-%}

{%- capture quantity_selector -%}
  {%- if show_quantity -%}
    <div
      id="Quantity-Form-{{ section_id }}"
      class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
      {{ block.shopify_attributes }}
    >
      {%- assign cart_qty = cart | item_count_for_variant: current_variant.id -%}
      {% # theme-check-enable %}
      <label class="form__label label-hidden" for="Quantity-{{ section_id }}" data-quantity-label>
        {{ 'products.product.quantity' | t }}
        <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
          <span
            >(
            {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
            )</span
          >
        </span>
      </label>
      <div class="price-per-item__container">
        <quantity-input data-url="{{ product.url }}" data-section="{{ section_id }}">
          {%- if settings.quantity_style == 'dropdown' -%}
            <popout-select class="select-popout select-popout--quantity">
              <button type="button"
                class="select-popout__toggle"
                aria-expanded="false"
                aria-controls="{{ section_id }}-select-quantity"
                aria-labelledby="{{ section_id }}-select-quantity-label"
                data-popout-toggle>
                <span data-popout-toggle-text>1</span>
                {%- render 'icon-nav-arrow-down' -%}
              </button>

              <ul id="{{ section_id }}-select-quantity" class="select-popout__list" data-popout-list data-scroll-lock-scrollable>
                {%- for idx in (1..10) -%}
                  <li class="select-popout__item{% if forloop.index == 1 %} is-active{% endif %}">
                    <a class="select-popout__option" href="#" {% if forloop.index == 1 %}aria-current="true"{% endif %} data-value="{{ forloop.index }}" data-popout-option>
                      <span>
                        {{ forloop.index }} {% if forloop.last %}+{% endif %}
                      </span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </popout-select>
          {%- endif -%}

          <div class="quantity">
            <button class="quantity__button quantity__minus" name="minus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
              </span>
              {%- render 'icon-minus' -%}
            </button>
            <input
              class="quantity__input"
              type="number"
              name="quantity"
              id="Quantity-{{ section_id }}"
              data-quantity-input
              data-cart-quantity="{{ cart_qty }}"
              data-min="{{ current_variant.quantity_rule.min }}"
              min="{{ current_variant.quantity_rule.min }}"
              {% if current_variant.quantity_rule.max != null %}
                data-max="{{ current_variant.quantity_rule.max }}"
                max="{{ current_variant.quantity_rule.max }}"
              {% endif %}
              step="{{ current_variant.quantity_rule.increment }}"
              value="{{ current_variant.quantity_rule.min }}"
              form="{{ product_form_id }}"
            >
            <button class="quantity__button quantity__plus" name="plus" type="button">
              <span class="visually-hidden">
                {{ 'cart.general.increase_quantity_label' | t }} - {{ product.title | strip_html }}">
              </span>
              {%- render 'icon-plus' -%}
            </button>
          </div>
        </quantity-input>

        {%- liquid
          assign volume_pricing_array = current_variant.quantity_price_breaks | sort: 'quantity' | reverse
          assign current_qty_for_volume_pricing = cart_qty | plus: current_variant.quantity_rule.min
          if cart_qty > 0
            assign current_qty_for_volume_pricing = cart_qty | plus: current_variant.quantity_rule.increment
          endif
        -%}
        {%- if product.quantity_price_breaks_configured? -%}
          <price-per-item
            id="Price-Per-Item-{{ section_id }}"
            data-section-id="{{ section_id }}"
            data-variant-id="{{ current_variant.id }}"
          >
            {%- if current_variant.quantity_price_breaks.size > 0 -%}
              {%- assign variant_price_compare = current_variant.compare_at_price -%}
              <div class="price-per-item">
                {%- if variant_price_compare -%}
                  <dl class="price-per-item--current">
                    <dt class="visually-hidden">
                      {{ 'products.product.price.regular_price' | t }}
                    </dt>
                    <dd>
                      <s class="variant-item__old-price">
                        {{ variant_price_compare | money_with_currency }}
                      </s>
                    </dd>
                  </dl>
                {%- endif -%}
                {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                  {%- assign variant_price = current_variant.price | money_with_currency -%}
                  <span class="price-per-item--current">
                    {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                  </span>
                {%- else -%}
                  {%- for price_break in volume_pricing_array -%}
                    {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                      {%- assign price_break_price = price_break.price | money_with_currency -%}
                      <span class="price-per-item--current">
                        {{- 'products.product.volume_pricing.price_at_each_html' | t: price: price_break_price -}}
                      </span>
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </div>
            {%- else -%}
              {%- assign variant_price = current_variant.price | money_with_currency -%}
              {%- assign variant_price_compare = current_variant.compare_at_price -%}
              <div class="price-per-item">
                {%- if variant_price_compare -%}
                  <dl class="price-per-item--current">
                    <dt class="visually-hidden">
                      {{ 'products.product.price.regular_price' | t }}
                    </dt>
                    <dd>
                      <s class="variant-item__old-price">
                        {{ variant_price_compare | money_with_currency }}
                      </s>
                    </dd>
                    <dt class="visually-hidden">
                      {{ 'products.product.price.sale_price' | t }}
                    </dt>
                    <dd>
                      <span class="price-per-item--current">
                        {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                      </span>
                    </dd>
                  </dl>
                {%- else -%}
                  <span class="price-per-item--current">
                    {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                  </span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </price-per-item>
        {%- endif -%}
      </div>
      <div class="quantity__rules caption hidden" id="Quantity-Rules-{{ section_id }}" data-quantity-rules>
        {%- if current_variant.quantity_rule.increment > 1 -%}
          <span class="divider">
            {{- 'products.product.quantity.multiples_of' | t: quantity: current_variant.quantity_rule.increment -}}
          </span>
        {%- endif -%}
        {%- if current_variant.quantity_rule.min > 1 -%}
          <span class="divider">
            {{- 'products.product.quantity.minimum_of' | t: quantity: current_variant.quantity_rule.min -}}
          </span>
        {%- endif -%}
        {%- if current_variant.quantity_rule.max != null -%}
          <span class="divider">
            {{- 'products.product.quantity.maximum_of' | t: quantity: current_variant.quantity_rule.max -}}
          </span>
        {%- endif -%}
      </div>
      {%- if product.quantity_price_breaks_configured? -%}
        <volume-pricing class="parent-display" id="Volume-{{ section_id }}" data-parent-display>
          {%- if current_variant.quantity_price_breaks.size > 0 -%}
            <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
            <ul class="list-unstyled">
              <li>
                <span>{{ current_variant.quantity_rule.min }}+</span>
                {%- assign price = current_variant.price | money_with_currency -%}
                <span data-text="{{ 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price }}">
                  {{- 'sections.quick_order_list.each' | t: money: price -}}
                </span>
              </li>
              {%- for price_break in current_variant.quantity_price_breaks -%}
                {%- assign price_break_price = price_break.price | money_with_currency -%}
                <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}" data-show-more>
                  <span>
                    {{- price_break.minimum_quantity -}}
                    <span aria-hidden="true">+</span></span
                  >
                  <span data-text="{{ 'products.product.volume_pricing.price_at_each_html' | t: price: price_break_price }}">
                    {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                  </span>
                </li>
              {%- endfor -%}
            </ul>
            {%- if current_variant.quantity_price_breaks.size >= 3 -%}
              <show-more-button>
                <button
                  class="button-show-more link underlined-link"
                  id="Show-More-{{ section_id }}"
                  type="button"
                >
                  <span class="label-show-more label-text" data-label-text
                    ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}
                  </span>
                </button>
              </show-more-button>
            {%- endif -%}
          {%- endif -%}
        </volume-pricing>
      {%- endif -%}
    </div>
  {%- else -%}
    <input type="hidden" name="quantity" value="1">
  {%- endif -%}
{%- endcapture -%}

<div
  class="product__block product__block--buttons block-padding {{ color_scheme }}"
  {{ block_style }}
  {{ block.shopify_attributes }}
>
  {%- if product != blank -%}
    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section_id }}"
    >
      <div
        class="product__submit{% if show_dynamic_checkout %} product__submit--spb{% endif %}"
        {% if animation_name %}
          data-animation="{{ animation_name }}"
          data-animation-duration="{{ animation_duration }}"
          data-animation-delay="{{ animation_delay }}"
        {% endif %}
      >
        <div class="product__form__errors" role="alert" data-cart-errors-container>
          <span class="product-form__error-message" data-cart-error-message></span>
        </div>

        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form',
          data-product-form: ''
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ current_variant.id }}"
            {% if current_variant.available == false or quantity_rule_soldout or current_variant == null %}
              disabled
            {% endif %}
            class="product-variant-id"
          >

          {%- if gift_card_recipient_feature_active -%}
            {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
          {%- endif -%}

          <div class="product__submit__buttons{% if show_dynamic_checkout and show_quantity == false %} product__submit__buttons--inline{% endif %}">
            <div class="product__submit__item{% if show_quantity %} product__submit__item--inline{% endif %}">
              {{ quantity_selector }}

              <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="btn {{ button_size }} {{ button_style }} {{ button_type }}"
                data-preorder="{{ preorder }}"
                data-add-to-cart
                {% if current_variant.available == false or quantity_rule_soldout or current_variant == null %}
                  disabled
                {% endif %}
              >
                <span class="btn__text" data-add-to-cart-text>
                  {{- button_text -}}
                  {%- if settings.atc_show_product_price -%}
                    <span
                      class="btn__price"
                      data-product-price
                      {% if current_variant.compare_at_price > current_variant.price %}
                        class="product__price--sale"
                      {% endif %}
                    >
                      {%- if current_variant.price == 0 -%}
                        {{ 'general.money.free' | t }}
                      {%- else -%}
                        {%- if current_variant.compare_at_price > current_variant.price -%}
                          {{ current_variant.price | money }}
                          <s>{{ current_variant.compare_at_price | money }}</s>
                        {%- else -%}
                          {{ current_variant.price | money }}
                        {%- endif -%}
                      {%- endif -%}
                    </span>
                  {%- endif -%}
                </span>
                <span class="btn__added">&nbsp;</span>

                <span class="btn__loader">
                  <svg height="18" width="18" class=" svg-loader">
                    <circle r="7" cx="9" cy="9" />
                    <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
                  </svg>
                </span>
              </button>

              {%- if show_newsletter -%}
                <popup-component class="product-soldout-notification">
                  <button
                    type="button"
                    class="btn {{ button_type }} {{ button_size }} {{ button_style }}"
                    data-popup-open
                  >
                    <span class="btn__text">{{ newsletter_button_text }}</span>
                  </button>

                  <dialog class="product-modal" aria-hidden="true" inert data-scroll-lock-required>
                    <form method="dialog">
                      <button
                        class="visually-hidden"
                        aria-label="{{ 'general.accessibility.close' | t }}"
                      ></button>
                    </form>

                    <div class="drawer__inner product-modal__notification">
                      <div class="product-modal__content small" data-scroll-lock-scrollable>
                        <button
                          type="button"
                          class="product-modal__close"
                          data-popup-close
                          aria-label="{{ 'general.accessibility.close' | t }}"
                        >
                          {%- render 'icon-cancel' -%}
                        </button>

                        {%- render 'notification-form',
                          product_title: product.title,
                          current_variant: current_variant
                        -%}
                      </div>
                    </div>
                  </dialog>
                </popup-component>
              {%- endif -%}
            </div>

            {%- if show_dynamic_checkout -%}
              <div class="product__submit__item {{ block.settings.button_type_dynamic }} {{ block.settings.button_size_dynamic }} {{ block.settings.button_style_dynamic }}">
                {{ form | payment_button }}
              </div>
            {%- endif -%}
          </div>
        {%- endform -%}
      </div>
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div
        class="product__submit"
        {% if animation_name %}
          data-animation="{{ animation_name }}"
          data-animation-duration="{{ animation_duration }}"
          data-animation-delay="{{ animation_delay }}"
        {% endif %}
      >
        <div class="product__submit__buttons">
          <div class="product__submit__item{% if show_quantity %} product__submit__item--inline{% endif %}">
            {{ quantity_selector }}

            <button
              id="ProductSubmitButton-{{ section_id }}"
              type="submit"
              name="add"
              class="btn {{ button_size }} {{ button_style }} {{ button_type }}"
              {% if current_variant.available == false or quantity_rule_soldout or current_variant == null %}
                disabled
              {% endif %}
            >
              <span class="btn__text" data-add-to-cart-text>
                {{ 'products.product.sold_out' | t }}
              </span>
            </button>
          </div>
        </div>
      </div>
  {%- endif -%}
</div>
