{%- liquid
  assign featured_product = featured_product | default: false
  assign onboarding_product = false
  assign current_variant = product.selected_or_first_available_variant
  assign product_sticky_enable = section.settings.product_sticky_enable
  assign enable_video_looping = section.settings.enable_video_looping
  assign enable_history_state = true
  assign image_size = section.settings.image_size | default: 'normal'
  assign image_layout = section.settings.image_layout
  assign mobile_image_style = section.settings.mobile_image_style
  assign featured_media = current_variant.featured_media | default: product.featured_media
  assign featured_media_aspect_ratio = featured_media.aspect_ratio | default: 1
  assign is_title_linked = true
  if template.name == 'product' and featured_product == false
    assign is_title_linked = false
  endif

  if product.empty?
    assign onboarding_product = true
  endif

  if featured_product
    assign product_sticky_enable = false
    assign variant_image_scroll = false
    assign enable_history_state = false
  endif

  assign show_thumbnails = false
  assign enable_thumbs = false
  assign enable_thumbs_mobile = false

  if image_layout == 'thumbnails' or image_layout == 'thumbnails-left'
    assign enable_thumbs = true
    assign show_thumbnails = true
  endif

  if mobile_image_style == 'thumbs'
    assign show_thumbnails = true
    assign enable_thumbs_mobile = true
  endif

  if product.media.size <= 1
    assign show_thumbnails = false
  endif

  assign modifier = image_layout | default: 'thumbnails'
  assign product_wrapper_modifier = 'product__wrapper--' | append: modifier

  assign wrapper_tag = 'div'
  if product_sticky_enable
    assign wrapper_tag = 'product-sticky'
  endif

  assign show_buy_buttons = false
  assign buy_buttons = section.blocks | where: 'type', 'buttons'

  if buy_buttons.size > 0
    assign show_buy_buttons = true
  endif

  assign image_width = 770

  if image_size == 'small'
    assign product_wrapper_modifier = product_wrapper_modifier | append: ' product__wrapper--small'
    assign image_width = 525
  endif

  if image_size == 'stretch'
    assign product_wrapper_modifier = product_wrapper_modifier | append: ' product__wrapper--stretch'
    assign image_width = 970
  endif

  assign product_form_id = 'product-form-' | append: section.id
  assign show_cart_bar = false

  assign sibling_color = product.metafields.theme.sibling_color.value | default: product.metafields.theme.sibling_colour.value | default: product.metafields.theme.siblings_color.value | default: product.metafields.theme.siblings_colour.value | default: product.metafields.theme.siblings_colors.value | default: product.metafields.theme.siblings_colours.value

  if section.settings.show_cart_bar and featured_product == false
    assign show_cart_bar = true
  endif

  capture product_images_classlist
    echo 'product__images'

    if enable_thumbs
      echo ' product__images--thumbs'
    else
      echo ' product__images--no-thumbs'
    endif

    if enable_thumbs_mobile
      echo ' product__images--mobile-thumbs'
    else
      echo ' product__images--mobile-slider'
    endif
  endcapture

  assign preorder = false
  if product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true
    assign preorder = true
  endif

  if current_variant.metafields.theme.preorder.type == 'boolean' and current_variant.metafields.theme.preorder.value == true
    assign preorder = true
  endif

  assign product_tags = product.tags | join: ','
  if product_tags contains '_preorder'
    assign preorder = true
  endif

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign badge = ''
  if badge == '' and product_tags contains '_badge_'
    assign badge = product_tags | split: '_badge_'
    assign badge = badge[1] | split: ',' | first | replace: '_', ' '
  endif

  assign color_scheme = 'color-' | append: section.settings.color_scheme
-%}

<product-info
  id="MainProduct--{{ section.id }}"
  class="index-product section-padding {{ color_scheme }}"
  data-section="{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-product-handle="{{ product.handle }}"
  data-product-id="{{ product.id }}"
  data-enable-history-state="{{ enable_history_state }}"
  data-url="{{ product.url }}"
  data-overlay-header
  data-sticky-enabled="{{ product_sticky_enable }}"
  data-variant-image-scroll="{{ section.settings.variant_image_scroll }}"
>
  {%- style -%}
    {%- if show_cart_bar -%}
      :root { --cart-bar-height: 80px; }
    {%- endif -%}

    #MainProduct--{{ section.id }} {
      --PT: {{ section.settings.padding_top }}px;
      --PB: {{ section.settings.padding_bottom }}px;

      --swatch-size: var(--swatch-size-product);
    }
  {%- endstyle -%}

  <{{ wrapper_tag }} class="product__wrapper {{ product_wrapper_modifier }}" data-product>
    <div class="{% if featured_product %}{{ section.settings.width }}{% else %}product__wrapper__inner{% endif %}">
      <div class="product__page">
        <product-images
          class="{{ product_images_classlist }}"
          data-active-media="{{ section.id }}-{{ featured_media.id }}"
          {% if enable_thumbs %}
            data-fader-desktop
          {% endif %}
          {% if enable_thumbs_mobile %}
            data-fader-mobile
          {% endif %}
        >
          {%- if product.media.size > 0 -%}
            {%- capture product_slides_attributes -%}
              class="product__slides product-single__photos"
              style="--featured-media-aspect-ratio: {{ featured_media_aspect_ratio | round: 2 }};"
              data-product-media-list
            {%- endcapture -%}

            {%- if section.settings.enable_zoom -%}
              <zoom-images {{ product_slides_attributes }}>
            {%- else -%}
              <div {{ product_slides_attributes }}>
            {%- endif -%}

            {%- for media in product.media -%}
              {%- render 'media',
                media: media,
                featured_media: featured_media,
                enable_video_looping: enable_video_looping,
                sectionkey: section.id,
                image_width: image_width,
                cover: true
              -%}
            {%- endfor -%}

            {%- if section.settings.enable_zoom -%}
              </zoom-images>

              <script src="{{ 'load-photoswipe.js' | asset_url }}" defer="defer"></script>
              <script src="{{ 'zoom.js' | asset_url }}" defer="defer"></script>
            {%- else -%}
              </div>
            {%- endif -%}

            {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
            {%- if first_3d_model -%}
              <link
                id="ModelViewerStyle"
                rel="stylesheet"
                href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
                media="print"
                onload="this.media='all'"
              >
              <link
                id="ModelViewerOverride"
                rel="stylesheet"
                href="{{ 'component-model-viewer-ui.css' | asset_url }}"
                media="print"
                onload="this.media='all'"
              >
            {%- endif -%}
            {%- if first_3d_model -%}
              <button
                class="btn btn--outline btn--black btn--ar product-single__view-in-space"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="{{ product.title | strip_html }}"
                data-shopify-xr-hidden
              >
                {%- render 'icon-media-model' -%}

                <span class="product-single__view-in-space-text">{{ 'products.general.view_space' | t }}</span>
              </button>
            {%- endif -%}

            {%- if show_thumbnails -%}
              <product-thumbs class="product__thumbs">
                <div class="product__thumbs__holder" data-thumbs-slider>
                  {%- for media in product.media -%}
                    <div class="product__thumb{% if media == featured_media %} is-active{% endif %}" data-thumb-item>
                      <a
                        class="product__thumb__link"
                        href="{{ media.preview_image.src | image_url }}"
                        aria-current="{% if forloop.first %}true{% else %}false{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                        data-thumb-link
                      >
                        {%- liquid
                          render 'image', image: media.preview_image, width: 150, height: 150, sizes: '75px', widths: '75, 100, 150, 225, 300', aspect_ratio: 1

                          if media.media_type == 'video' or media.media_type == 'external_video'
                            render 'icon-media-video'
                          elsif media.media_type == 'model'
                            render 'icon-media-model'
                          endif
                        -%}
                      </a>
                    </div>
                  {%- endfor -%}
                </div>
              </product-thumbs>
            {%- endif -%}

            {%- comment -%} Thumbnails template for Photoswipe {%- endcomment -%}
            {%- if section.settings.enable_zoom -%}
              <template data-pswp-thumbs-template>
                {%- assign images = product.media | where: 'media_type', 'image' -%}

                {%- for image in images -%}
                  {%- render 'image',
                    image: image,
                    width: 160,
                    height: 160,
                    sizes: '80px',
                    widths: '80, 120, 160',
                    aspect_ratio: 1,
                    modifier: 'pswp__thumb'
                  -%}
                {%- endfor -%}
              </template>
            {%- endif -%}
          {%- elsif onboarding_product == false -%}
            <div class="product__slides product__slides--{{ image_size }} product-single__photos">
              <div
                class="product__photo product__slide product__photo--blank"
              >
                {%- if onboarding_product -%}
                  {{ 'product-1' | placeholder_svg_tag: 'svg-placeholder' }}
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}

          {%- if onboarding_product -%}
            <div
              class="product__slides product__slides--{{ image_size }} product-single__photos"
              data-product-media-list
            >
              {%- for i in (1..5) -%}
                <div
                  class="product__photo product__slide svg-placeholder {% if forloop.first %}media--active{% else %}media--hidden{% endif %}"
                  data-slide
                  data-type="image"
                  data-image-id="{{ section.id }}-{{ i }}"
                  data-media-id="{{ section.id }}-media-{{ i }}"
                >
                  {% capture product_name %}product-{{ i }}{% endcapture %}
                  {{ product_name | placeholder_svg_tag: 'svg-placeholder' }}
                </div>
              {%- endfor -%}
            </div>

            {%- if show_thumbnails -%}
              <product-thumbs class="product__thumbs">
                <div class="product__thumbs__holder" data-thumbs-slider>
                  {%- for i in (1..5) -%}
                    <div class="product__thumb{% if forloop.first %} is-active{% endif %}" data-thumb-item>
                      <a
                        class="product__thumb__link"
                        href="#!"
                        data-media-id="{{ section.id }}-media-{{ i }}"
                        data-thumb-link
                      >
                        {% capture product_name %}product-{{ i }}{% endcapture %}
                        {{ product_name | placeholder_svg_tag: 'svg-placeholder' }}
                      </a>
                    </div>
                  {%- endfor -%}
                </div>
              </product-thumbs>

              <script src="{{ 'product-thumbs.js' | asset_url }}" defer="defer"></script>
            {%- endif -%}
          {%- endif -%}
        </product-images>

        <div class="product__content">
          <div
            class="form__wrapper{% unless show_buy_buttons %} form__wrapper--no-buttons{% endunless %}{% unless current_variant.available or onboarding_product %} variant--soldout{% endunless %}{% if settings.form_style == 'classic' %} form__wrapper--classic{% else %} form__wrapper--modern{% endif %}{% if settings.show_newsletter %} show-product-notification{% endif %}"
            data-form-wrapper
          >
            <div class="form__width">
              {% comment %} The input with name="id" submits to cart {% endcomment %}
              <input type="hidden" name="id" value="{{ current_variant.id }}" form="{{ product_form_id }}">

              {% comment %} Depending whether the product variant is a preorder or not, we will submit a line item property: "preorder" in the cart {% endcomment %}
              <input
                type="hidden"
                name="properties[{{ 'products.product.sale_type' | t }}]"
                value="{{ 'products.product.pre_order' | t }}"
                form="{{ product_form_id }}"
                data-product-preorder
              >

              {%- if sibling_color != blank -%}
                <input
                  type="hidden"
                  form="{{ product_form_id }}"
                  name="properties[{{ 'general.siblings.label' | t }}]"
                  value="{{ sibling_color }}"
                >
              {%- endif -%}

              {%- for block in section.blocks -%}
                {%- liquid
                  assign padding_bottom = block.settings.padding_bottom
                  assign bg_accent = block.settings.bg_color
                  assign icon_size = block.settings.icon_size

                  capture block_style
                    if padding_bottom
                      echo '--block-padding-bottom: ' | append: block.settings.padding_bottom | append: 'px;'
                    endif

                    if block.type == 'upsell' or block.type == 'bundle-save' or block.type == 'complementary-products'
                      unless bg_accent == 'rgba(0,0,0,0)' or bg_accent == blank
                        echo '--bg-accent: ' | append: bg_accent | append: ';'
                      endunless
                    endif

                    if icon_size
                      echo '--icon-size:' | append: icon_size | append: 'px;'
                    endif

                    if block.type == 'countdown'
                      assign bg_color = block.settings.bg_color
                      assign text_color = block.settings.color

                      unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank
                        echo '--bg: ' | append: bg_color | append: ';'
                        echo '--countdown-padding: ' | append: 'var(--inner);'
                      endunless

                      unless text_color == 'rgba(0,0,0,0)' or text_color == blank
                        echo '--text: ' | append: text_color | append: ';'
                      endunless
                    endif
                  endcapture

                  if block_style != blank
                    assign block_style = 'style="' | append: block_style | append: '"'
                  endif
                -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {%- render block -%}

                  {%- when 'title' -%}
                    {%- render 'product-title',
                      product: product,
                      block: block,
                      block_style: block_style,
                      is_title_linked: is_title_linked,
                      onboarding_product: onboarding_product
                    -%}

                  {%- when 'price' -%}
                    {%- render 'product-price',
                      product: product,
                      block: block,
                      block_style: block_style,
                      onboarding_product: onboarding_product
                    -%}

                  {%- when 'variants' -%}
                    {%- render 'product-variant-picker',
                      product: product,
                      current_variant: current_variant,
                      block: block,
                      block_style: block_style,
                      product_form_id: product_form_id,
                      enable_size_chart: true
                    -%}

                  {%- when 'buttons' -%}
                    {%- render 'product-buttons',
                      block: block,
                      block_style: block_style,
                      product: product,
                      product_form_id: product_form_id,
                      preorder: preorder,
                      onboarding_product: onboarding_product
                    -%}

                  {%- when 'description' -%}
                    {%- render 'product-description', product: product, block: block, block_style: block_style -%}

                  {%- when 'tab_richtext' -%}
                    {%- render 'product-description', product: product, block: block, block_style: block_style -%}

                  {%- when 'accordion' -%}
                    {%- render 'product-description', product: product, block: block, block_style: block_style -%}

                  {%- when 'inventory_countdown' -%}
                    {%- render 'product-inventory', product: product, block: block, block_style: block_style -%}

                  {%- when 'upsell', 'bundle-save' -%}
                    {%- liquid
                      if block.type == 'upsell'
                        assign product_metafield = product.metafields.theme.upsell.value
                        assign product_list_metafield = product.metafields.theme.upsell_list.value
                        assign fallback_product = block.settings.upsell_product
                        assign fallback_product_list = block.settings.upsell_product_list
                        assign show_available_only = block.settings.show_available_upsell_only
                        assign block_title = 'products.general.upsell_title' | t
                        assign block_class = 'upsell-products'
                        assign wrapper_class = 'product__upsell'
                        assign title_class = 'product-upsell__holder__title'
                      elsif block.type == 'bundle-save'
                        assign product_metafield = product.metafields.theme.bundle.value
                        assign product_list_metafield = product.metafields.theme.bundle_list.value
                        assign fallback_product = block.settings.bundle_product
                        assign fallback_product_list = block.settings.bundle_product_list
                        assign show_available_only = block.settings.show_available_bundle_only
                        assign block_title = block.settings.bundle_title
                        assign block_class = 'bundle-products'
                        assign wrapper_class = 'product__bundle'
                        assign title_class = 'product-bundle__holder__title'
                      endif

                      assign target_product = product_metafield | default: fallback_product
                      assign target_product_list = product_list_metafield | default: fallback_product_list
                      assign slider_enabled = false
                      assign block_tag = 'div'

                      if block.settings.layout == 'slider'
                        assign slider_enabled = true
                        assign block_tag = 'slider-component'
                        assign dots_style = settings.dots_style
                        assign autoplay_speed = false
                        assign autoplay = block.settings.autoplay

                        if autoplay
                          assign autoplay_speed = block.settings.autoplay_speed | times: 1000
                        endif
                      endif
                    -%}

                    {%- if target_product != blank or target_product_list != blank or request.design_mode -%}
                      {%- capture block_products -%}
                        {%- if target_product == blank and target_product_list == blank -%}
                          {%- render 'upsell-product' -%}
                        {%- else -%}
                          {%- if target_product != blank -%}
                            {%- render 'upsell-product', upsell_product: target_product, show_available_upsell_only: show_available_only, slider_enabled: slider_enabled, is_product_block: true -%}
                          {%- endif -%}

                          {%- if target_product_list != blank -%}
                            {%- for list_product in target_product_list -%}
                              {%- render 'upsell-product', upsell_product: list_product, show_available_upsell_only: show_available_only, slider_enabled: slider_enabled, is_product_block: true -%}
                            {%- endfor -%}
                          {%- endif -%}
                        {%- endif -%}
                      {%- endcapture -%}

                      {%- if block_products != blank -%}
                        <div
                          class="product__block {{ block_class }} block-padding"
                          {{ block.shopify_attributes }}
                          {{ block_style }}
                        >
                          <p class="{{ title_class }}">{{ block_title }}</p>
                          <{{ block_tag }}
                            class="{{ wrapper_class }} {{ wrapper_class }}--{{ block.settings.layout }}"
                            {% if slider_enabled %}
                              data-slider
                              data-dots="{{ dots_style }}"
                              data-options='{"autoPlay": {{ autoplay_speed }}, "prevNextButtons": false }'
                            {% endif %}
                            {{ block.shopify_attributes }}
                            {{ block_style }}
                          >
                            {{ block_products }}
                          </{{ block_tag }}>
                        </div>
                      {%- endif -%}
                    {%- endif -%}

                  {%- when 'complementary-products' -%}
                    {%- liquid
                      assign slider_enabled = false

                      if block.settings.layout == 'slider'
                        assign slider_enabled = true
                        assign dots_style = settings.dots_style
                        assign autoplay_speed = false
                        assign autoplay = block.settings.autoplay

                        if autoplay
                          assign autoplay_speed = block.settings.autoplay_speed | times: 1000
                        endif
                      endif
                    -%}
                    <div
                      class="product__block product__complementary block-padding"
                      {{ block.shopify_attributes }}
                      {{ block_style }}
                    >
                      <complementary-products
                        class="complementary-products"
                        data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=10&intent=complementary"
                      >
                        {%- if slider_enabled -%}
                          <slider-component
                            data-dots="{{ dots_style }}"
                            data-options='{"autoPlay": {{ autoplay_speed }}, "prevNextButtons": false }'
                          >
                        {%- endif -%}

                        {%- if recommendations.performed and recommendations.products_count > 0 -%}
                          {%- assign complementary_products_title = 'products.general.complementary_products_title'
                            | t
                          -%}
                          {%- if complementary_products_title != blank -%}
                            <p class="complementary-products__title">{{ complementary_products_title }}</p>
                          {%- endif -%}

                          {%- for product in recommendations.products limit: block.settings.complementary_limit -%}
                            {%- render 'upsell-product', upsell_product: product, slider_enabled: slider_enabled -%}
                          {%- endfor -%}
                        {%- endif -%}

                        {%- if slider_enabled -%}
                          </slider-component>
                        {%- endif -%}
                      </complementary-products>
                    </div>

                    <script src="{{ 'complementary-products.js' | asset_url }}" defer="defer"></script>

                  {%- when 'pickup' -%}
                    {%- assign pick_up_availabilities = current_variant.store_availabilities
                      | where: 'pick_up_enabled', true
                    -%}

                    <pickup-availability
                      class="product__block product__pickup block-padding"
                      {% if current_variant.available and pick_up_availabilities.size > 0 %}
                        available
                      {% endif %}
                      data-root-url="{{ routes.root_url }}"
                      data-variant-id="{{ current_variant.id }}"
                      data-has-only-default-variant="{{ product.has_only_default_variant }}"
                      data-product-page-color-scheme="{{ color_scheme }}"
                      {{ block.shopify_attributes }}
                      {{ block_style }}
                    >
                      <template>
                        <pickup-availability-preview class="pickup__preview">
                          {%- render 'icon-cancel' -%}
                          <div class="pickup__info">
                            <p class="pickup__info__text">
                              {{ 'products.product.pickup_availability.unavailable' | t }}
                            </p>
                            <button class="pickup__button text-link small">
                              {{ 'products.product.pickup_availability.refresh' | t }}
                            </button>
                          </div>
                        </pickup-availability-preview>
                      </template>
                    </pickup-availability>

                    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>

                  {%- when 'code' -%}
                    <div
                      class="product__block product__custom-code block-padding"
                      {{ block_style }}
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.code }}
                    </div>

                  {%- when 'siblings' -%}
                    {%- render 'product-siblings',
                      product: product,
                      product_form_id: product_form_id,
                      current_variant: current_variant,
                      block: block,
                      block_style: block_style,
                      quick_add_product: false
                    -%}

                  {%- when 'text' -%}
                    {%- render 'product-block-text', block: block, block_style: block_style -%}

                  {%- when 'icon' -%}
                    {%- render 'icon', block: block, index: forloop.index0, is_product: true -%}

                  {%- when 'sharing' -%}
                    <div class="product__block block-padding" {{ block.shopify_attributes }} {{ block_style }}>
                      {%- assign share_url = current_variant.url | prepend: request.origin -%}
                      {%- render 'share-button', share_url: share_url -%}
                    </div>

                  {%- when 'divider' -%}
                    {%- render 'divider', block: block, modifier: 'product__block product__block--divider' -%}

                  {%- when 'line-item' -%}
                    {%- render 'product-properties',
                      product: product,
                      block: block,
                      block_style: block_style,
                      product_form_id: product_form_id
                    -%}

                  {%- when 'features' -%}
                    {%- liquid
                      assign block_id = block.id
                      assign text = block.settings.text
                      assign title = block.settings.title
                      assign prev_index = forloop.index0 | minus: 1
                      assign next_index = forloop.index0 | plus: 1
                      assign prev_block = section.blocks[prev_index]
                      assign next_block = section.blocks[next_index]
                      assign image = block.settings.icon_alt
                      assign bg_color = block.settings.bg_color
                      assign text_color = block.settings.color

                      comment
                        Always force dots style to be "line" except if "Circle" is chosen from the global settings
                      endcomment
                      assign dots_style = 'line'
                      if settings.dots_style == 'circle'
                        assign dots_style = 'circle'
                      endif

                      capture style
                        if bg_color != 'rgba(0,0,0,0)' and bg_color != blank
                          echo '--bg-accent: ' | append: bg_color | append: ';'
                        endif

                        if text_color != 'rgba(0,0,0,0)' and text_color != blank
                          echo '--text: ' | append: text_color | append: ';'
                        endif
                      endcapture
                    -%}

                    {%- if forloop.index0 == 0 or prev_block.type != 'features' -%}
                      <slider-component
                        class="product__block product__features block-padding"
                        {{ block_style }}
                        data-slider
                        data-slider-fullwidth
                        data-dots="{{ dots_style }}"
                        data-options='{"pageDots": true, "adaptiveHeight": true, "autoPlay": false, "prevNextButtons": false, "fade": false, "draggable": ">1"}'
                      >
                    {%- endif -%}

                    <div
                      class="product__feature"
                      data-slide="{{ block_id }}"
                      {% if style != blank %}
                        style="{{ style }}"
                      {% endif %}
                      {{ block.shopify_attributes }}
                    >
                      <div class="product__feature__content">
                        <div class="block__icon__container product__feature__heading">
                          {%- assign icon_size = block.settings.icon_size -%}
                          <div class="block__icon" style="--icon-size: {{ icon_size }}px;">
                            {%- liquid
                              if image
                                assign icon_width = icon_size
                                assign icon_width_retina = icon_width | times: 2
                                assign icon_sizes = icon_width | append: 'px'
                                assign icon_widths = icon_width | append: ', ' | append: icon_width_retina
                                render 'image', image: image, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, show_backfill: false
                              else
                                render 'animated-icon', filename: block.settings.icon_name
                              endif
                            -%}
                          </div>

                          {%- if title != blank -%}
                            <div class="block__icon__text {{ block.settings.text_font_size }}">
                              <p>{{ title }}</p>
                            </div>
                          {%- endif -%}
                        </div>

                        {%- if text != blank -%}
                          <div class="rte">
                            {{ text }}
                          </div>
                        {%- endif -%}
                      </div>
                    </div>

                    {%- if forloop.index == section.blocks.size or next_block.type != 'features' -%}
                      </slider-component>
                    {%- endif -%}

                  {%- when 'popup' -%}
                    {%- render 'product-popup', block: block -%}

                  {%- when 'badges' -%}
                    <div
                      id="Badges-{{ section.id }}"
                      class="product__block product__badges block-padding {{ settings.badge_font_size }}"
                      {{ block.shopify_attributes }}
                      {{ block_style }}
                    >
                      {%- if badge != '' and block.settings.product_badges -%}
                        <span class="badge-box">{{ badge }}</span>
                      {%- endif -%}

                      {%- if preorder and product.available and block.settings.product_badges -%}
                        <span class="badge-box preorder-box" data-preorder-badge>
                          {{- 'products.product.pre_order' | t -}}
                        </span>
                      {%- endif -%}

                      {%- if on_sale and product.available and block.settings.sale_badge -%}
                        <span class="badge-box sale-box">{{ 'products.product.on_sale' | t }}</span>
                      {%- endif -%}
                    </div>

                  {%- when 'countdown' -%}
                    {%- assign layout = block.settings.text_align -%}

                    <div
                      class="product__block countdown-block block-padding flex-column {{ layout }}"
                      {{ block_style }}
                      data-countdown-block
                      {{ block.shopify_attributes }}
                    >
                      <div class="countdown-block__text {{ block.settings.heading_font_size }}">
                        {%- if block.settings.text != blank -%}
                          {{ block.settings.text }}
                        {%- endif -%}
                      </div>

                      <div class="countdown-block__timer">
                        {%- render 'countdown-timer',
                          digits_font_size: block.settings.digits_font_size,
                          text_font_size: block.settings.text_font_size,
                          end_date: block.settings.end_date,
                          end_time: block.settings.end_time,
                          period: block.settings.period,
                          end_message: block.settings.end_message,
                          hide_on_complete: block.settings.hide_on_complete
                        -%}
                      </div>
                    </div>

                  {%- when 'sku' -%}
                    <div
                      class="product__block product__sku block-padding"
                      id="Sku-{{ section.id }}"
                      role="status"
                      {{ block_style }}
                      {{ block.shopify_attributes }}
                    >
                      {{ 'products.product.sku' | t }}: {{ current_variant.sku }}
                    </div>

                  {%- when 'fit-guide' -%}
                    {%- liquid
                      assign fit_color = block.settings.fit_color
                      unless fit_color.alpha == 0.0 or fit_color == blank
                        capture style
                          echo '--text:' | append: fit_color
                        endcapture
                      endunless
                    -%}

                    <div
                      class="product__block product__guide guide block-padding"
                      {{ block.shopify_attributes }}
                      {{ block_style }}
                    >
                      {%- if block.settings.heading != blank -%}
                        <p class="guide__heading strong">{{ block.settings.heading }}</p>
                      {%- endif -%}

                      <div class="guide__line" style="{{ style }}">
                        {%- assign segment_selected = block.settings.segment_selected | plus: 0 -%}
                        {%- for idx in (1..5) -%}
                          <span
                            {% if forloop.index == segment_selected %}
                              class="is-active"
                            {% endif %}
                          >
                            {{- forloop.index -}}
                          </span>
                        {%- endfor -%}
                      </div>

                      {%- if block.settings.left_label != blank
                        or block.settings.middle_label != blank
                        or block.settings.right_label != blank
                      -%}
                        <div class="guide__content{% unless block.settings.left_label != blank %} guide__content--skip-left{% endunless %}{% unless block.settings.right_label != blank %} guide__content--skip-right{% endunless %}">
                          {%- if block.settings.left_label != blank -%}
                            <small class="guide__left">{{ block.settings.left_label }}</small>
                          {%- endif -%}

                          {%- if block.settings.middle_label != blank -%}
                            <small class="guide__middle">{{ block.settings.middle_label }}</small>
                          {%- endif -%}

                          {%- if block.settings.right_label != blank -%}
                            <small class="guide__right">{{ block.settings.right_label }}</small>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>

                  {%- when 'estimate_delivery' -%}
                    {%- liquid
                      assign days = block.settings.days_from_today
                      assign now_timestamp = 'now' | date: '%s'
                      assign delivery_days = days | times: 86400
                      assign delivery_date = now_timestamp | plus: delivery_days | date: '%A, %B %e'
                    -%}

                    <div
                      class="product__block estimate-delivery block-padding {{ block.settings.text_font_size }}"
                      {{ block.shopify_attributes }}
                      {{ block_style }}
                    >
                      {{ block.settings.label }}
                      {{ delivery_date }}
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </{{ wrapper_tag }}>

  {%- if show_cart_bar -%}
    {%- render 'cart-bar', product: product -%}
  {%- endif -%}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  {%- if product_sticky_enable -%}
    <script src="{{ 'product-sticky.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if show_thumbnails -%}
    <script src="{{ 'product-thumbs.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</product-info>
