{% comment %}
  Renders Quick add button

  Accepts:
  - product: {Object} product (required)
  - btn_style: {String} Button classes
  - sibling_property_value: {String} Sibling property value
  - mobile_mini_button: {Boolean} Mini button on mobile

  Usage:
  {% render 'quick-add-product', product: product, holder_modifier: holder_modifier, btn_style: btn_style, sibling_property_value: sibling_property_value %}
{% endcomment %}

{%- liquid
  assign unique = section.id | append: '-' | append: product.id
  assign product_form_id = 'ProductForm--' | append: unique
  assign current_variant = product.first_available_variant
  assign has_preorder_meta = false
  assign has_preorder_tag = false
  assign sibling_property_name = 'general.siblings.label' | t | strip_html | escape
  assign sibling_property_value = sibling_property_value | default: ''
  assign mobile_mini_button = mobile_mini_button | default: false

  if current_variant.available and product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true
    assign has_preorder_meta = true
  endif

  if current_variant.available and product.tags contains '_preorder'
    assign has_preorder_tag = true
  endif

  if current_variant.available and current_variant.metafields.theme.preorder.type == 'boolean' and current_variant.metafields.theme.preorder.value == true
    assign has_preorder_meta = true
  endif

  if has_preorder_meta or has_preorder_tag
    assign preorder_name = 'products.product.sale_type' | t | strip_html | escape
    assign preorder_value = 'products.product.pre_order' | t | strip_html | escape
  endif

  assign one_variant = false
  if product.variants.size == 1
    assign one_variant = true
  endif
-%}

<quick-add-product>
  <div class="quick-add__holder{{ holder_modifier }}" data-quick-add-holder="{{ product.id }}">
    {%- if one_variant -%}
      {%- form 'product', product, id: product_form_id -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

        {%- if sibling_property_value != blank -%}
          <input
            type="hidden"
            name="properties[{{ sibling_property_name }}]"
            value="{{ sibling_property_value }}"
          >
        {%- endif -%}

        {%- if preorder_value != blank -%}
          <input
            type="hidden"
            name="properties[{{ preorder_name }}]"
            value="{{ preorder_value }}"
          >
        {%- endif -%}
      {%- endform -%}
    {%- endif -%}

    <button
      class="quick-add__button {{ btn_style }}"
      {% if one_variant %}
        type="submit"
        name="add"
        form="{{ product_form_id }}"
        aria-label="{{ 'products.product.add_to_cart' | t }}"
        data-add-to-cart
      {% else %}
        type="button"
        aria-label="{{ 'products.general.quick_add' | t }}"
        data-quick-add-btn
        data-quick-add-modal-handle="{{ product.handle }}"
      {% endif %}
    >
      {%- if mobile_mini_button -%}
        <span class="btn__plus"></span>
      {%- endif -%}

      <span class="btn__text">
        {%- if preorder -%}
          {{ 'products.product.pre_order' | t }}
        {%- else -%}
          {{ 'products.product.add_to_cart' | t }}
        {%- endif -%}
      </span>
      <span class="btn__added">&nbsp;</span>
      <span class="btn__loader">
        <svg height="18" width="18" class="svg-loader">
          <circle r="7" cx="9" cy="9" />
          <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
        </svg>
      </span>
      <span class="btn__error" data-message-error>&nbsp;</span>
    </button>

    {%- unless product.has_only_default_variant -%}
      {%- render 'product-quick-add-modal-template', product_id: product.id, unique: unique -%}
    {%- endunless -%}
  </div>
</quick-add-product>
